* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  background: radial-gradient(circle, #111, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.machine{
  background: #1f1f1f;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 280px;
  color: white;
  box-shadow: 0 0 25px #00ff88;
}

.tower{
  position: relative;
  height: 250px;
  width: 60px;
  background: #333;
  border-radius: 30px;
  margin: 20px auto;
  overflow: hidden;
  border: 2px solid #00ff88;
}

.fill{
  position: absolute;
  bottom: 0;
  height: 0%;
  width: 100%;
  background: linear-gradient(to top, red, orange, lime);
  border-radius: 30px;
}

.bell{
  position: absolute;
  top: -28px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  opacity: 0.3;
}

button{
  padding: 12px 25px;
  background: #00ff88;
  color: black;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:active{
  scale: 0.95;
}