*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif
}
body{
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

button{
    padding: 10px 22px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background: crimson;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    z-index: 10;
}

button:active {
  scale: 0.95;
}

.emoji {
  position: absolute;
  font-size: 40px;
}