*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    padding: 30px;
}

.elem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #333;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

button{
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
}