*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    cursor: none;
}

#main{
    width: 100%;
    height: 200%;
    /* background-color: #333; */
}

#cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    transform: translate( -50%, -50%);
}