*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card{
    
    width: 500px;
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
    padding: 50px 30px;
}

.outer{
    height: 20px;
    width: 100%;
    border-radius: 50px ;
    background-color: rgb(184, 184, 184) ;
}

.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px ;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bottom h2{
    font-size: 60px;
}

.bottom button{
    padding: 12px 25px;
    background-color: green;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.bottom button:active{
    scale: 0.95;
    cursor: pointer;
}
